version: '3'

services:
  postgres:
    image: postgres:12-alpine
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./postgres:/var/lib/postgresql/data
    restart: unless-stopped
  soundbert:
    build:
      context: https://github.com/dsluo/SoundBert.git
    image: soundbert:latest
    container_name: soundbert
    environment:
      # Use "postgres" as the host; Docker's internal networking takes care of this.
      - SOUNDBERT_DATABASE_URL=${SOUNDBERT_DATABASE_URL}
      - SOUNDBERT_DEFAULT_PREFIX=${SOUNDBERT_DEFAULT_PREFIX}
      - SOUNDBERT_TOKEN=${SOUNDBERT_TOKEN}
      # This is specified in the Dockerfile. Either don't specify it here and use
      # a volume map like the example in the below section or make sure that the
      # volume map and this path refer to the same path.
      # - SOUNDBERT_SOUND_PATH=${SOUNDBERT_SOUND_PATH}
      - SOUNDBERT_EXTRA_EXTENSIONS=${SOUNDBERT_EXTRA_EXTENSIONS}
      - SOUNDBERT_LOG_LEVEL=${SOUNDBERT_LOG_LEVEL}
    volumes:
      - ./sounds:/var/lib/soundbert/sounds
    depends-on:
      - postgres
    restart: unless-stopped
